.git
.idea
.env
node-secrets.env
*.jar
*.jar.original
src
target/*
!target/TANIWHA_Backend_node.jar
taniwha
taniwha.log
__pycache__/
*.py[cod]
README.md
GUIDELINES.md
LICENSE.md
node-secrets.env.example
badges
