# Sample MEDIATA Node Configuration
PORT=8080
FDP_PORT=18080
FDP_MONGO_PORT=37017
NAME=MyNodeName
DESC=My MEDIATA node description
COLOR=#008000
NODE_IP=https://mynode.mediata.dev

# Sample security params. Change in production.
SPRING_SECURITY_USER_NAME=cf9e0aac7c1054a748b7d618a6a2b6af
JWT_SECRET=9k8w3r2x1p0mN6bV4cZ7aS5dF3gH2jK1lP0qW8eR6tY4uI2o
